

.dialog-title{
  text-align: center;
}

.upload-list:not(:first-child){
  padding-top: 15px;
}

.file-name{
  width: 65%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.file-size{
  width: 30%;
  font-size: 12px;
  color: grey;
  margin-left: 5%;
}

.file-action{
  width: 10%;
  cursor:pointer;
}

.file-upload-progress{
  margin-top:5px;
}

mat-dialog-content{
  min-width: 400px;
  max-height: 400px;
  overflow: auto;
}

mat-dialog-actions{
  padding: 20px;
}

.mat-dialog-actions .upload-btn{
  margin-left:20px;
}
